
{% extends "AppTerapia/base.html"%}
{% load static %}



{% block contenido %}
<section>
    <div>
        <h1 class="mb-5">Lista de psicologos</h1>
        <a href="{% url 'crear_psicologo' %}">Crear psicologo</a>
        <ul>
            {% for psicologo in psicologos %}
            <li>{{ psicologo.nombre }} es un psicologx especializadx en {{ psicologo.especializacion}}, su matricula es: {{psicologo.matricula}}, con {{psicologo.edad}} años y cobra {{psicologo.precioSesion}}. mail: {{psicologo.mail}}.</li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock contenido %}
